body {
  text-align: center;
}

.choice-image {
  width: 80px;
  height: 80px;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 10, "wght" 300, "GRAD" 0, "opsz" 20;
}

.my-button {
  border: 1px solid black;
  border-radius: 15px;
  background-color: rgba(243, 168, 114, 0.4);
}

.reset-button {
  border: 1px solid black;
  border-radius: 10px;
  background: transparent;
}
